<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <parameter name="name" value="vijay"></parameter>
	   <parameter name="des" value="good boy"></parameter>
	   <classes>
		
      <class name="day02.program01">
		  </class>
	   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
